/*
  File Name  global.css
  Project    liquor log
  Version    0.0.1
  Author     Peter Lindstrom
  Purpose    Global styles utilized throughout the site.
  Copyright  2024, Peter Lindstrom
  Link       https://github.com/plindstrom/llog
*/



/* Define style variables -------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --background-grey: rgb(237,242,247);
  --background-dark-blue: rgb(0,9,20);
  --background-blue: rgb(8,29,47);
  --text-white: rgb(231,238,247);
  --text-black: rgb(33,19,13);
  --text-red: rgb(135,62,35);
  --text-dark-blue: rgb(8,50,84);
  --text-blue: rgb(21,76,121);
  --text-dark-orange: rgb(135,62,35);
  --text-orange: rgb(226,135,67);
  --text-light-orange: rgb(235,155,96);
}


/* Set default formatting -------------------------------------------------- */
html,body,header,footer,nav,main,section,article,aside,h1,h2,h3,h4,h5,h6,ol,ul,img,p{
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

html{
  font-size: 100%;
}

body{
  background-color: var(--background-grey);
  font-family: 'Work Sans', sans-serif;
  color: var(--text-black);
}

h1{
  margin: 1rem 0;
  font-size: calc(1.8rem + 0.5vw);
  color: var(--text-dark-orange);
}

h2{
  margin: 4rem 0 0.5rem 0;
  font-size: calc(1.4rem + 0.5vw);
  color: var(--text-blue);
}

h3{
  margin: 3rem 0 0.5rem 0;
  font-size: calc(1.2rem + 0.3vw);
  color: var(--text-orange);
  text-transform: uppercase;
}

h4{
  margin: 2rem 0 0.5rem 0;
  font-size: calc(1.2rem + 0.3vw);
  text-decoration: underline;
  color: #ff0000;
}

h5{
  margin: 2rem 0 0.5rem 0;
  font-size: calc(1.1rem + 0.3vw);
  color: #ff0000;
}

h6{
  margin: 2rem 0 0.5rem 0;
  font-size: calc(1rem + 0.3vw);
  font-weight: normal;
  font-style: italic;
  color: #ff0000;
}

h2:first-child,h3:first-child{
  margin: 0 0 0.5rem 0;
}

p{
  margin: 0 0 2rem 0;
  font-size: calc(1rem + 0.3vw);
}

p:last-child{
  margin: 0;
}

ul,ol{
  margin: 0 1rem 2rem 2rem;
  font-size: calc(1rem + 0.3vw);
}

ul{
  list-style-position: inside;
  list-style-type: square;
}

a{
  color: var(--text-dark-blue);
}

a:hover{
  color: var(--text-dark-orange);
  text-decoration: underline;
}

br{
  clear: both;
}


/* Page header ------------------------------------------------------------- */
header{
  width: 100%;
  background-color: var(--background-blue);
}

header div.wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

header div.header-title{
  font-size: calc(1.8rem + 0.5vw);
  font-weight: bold;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: var(--text-white);
  text-transform: uppercase;
}

header div.header-title a{
  color: var(--text-white);
}


/* Page navigation --------------------------------------------------------- */
nav{
  width: 100%;
  background-color: var(--background-dark-blue);
}

nav div.wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

nav ul li{
  display: inline;
  list-style-type: none;
}

nav ul li a{
  display: block;
  float: left;
  color: var(--text-white);
  text-decoration: none;
}


/* Page content ------------------------------------------------------------ */
main{
}

main div.wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

.lnotes{
  margin: 2.5rem 0 0 0;
}

.flavor-profile{
  margin: 0;
  list-style-type: none;
}

.flavor-profile li{
  display: inline;
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(0.9rem + 0.3vw);
}

.flavor-profile li.flavor-woody{
  background-color: brown;
  color: #fff;
}

.flavor-profile li.flavor-fruity{
  background-color: green;
  color: #fff;
}

.flavor-profile li.flavor-spicy{
  background-color: darkred;
  color: #fff;
}

.flavor-profile a.flavor-remove{
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0 0 0rem 0.5rem;
  text-decoration: none;
  color: #fff;
  font-size: calc(0.7rem + 0.2vw);
}


/* Page footer ------------------------------------------------------------- */
footer{
  width: 100%;
  padding: 1rem;
  background-color: rgb(0, 9, 20);
  font-size: calc(0.6rem + 0.3vw);
}

footer div.wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}


/* Conditional content formatting ------------------------------------------ */
@media only screen and (max-width: 1023px){
  main{
    border-left: none;
    border-right: none;
  }

  footer p.footer-updated, footer p.footer-license{
    float: none;
    text-align: center;
  }
}
/*
@media only screen and (min-width: 1024px){
  #page-wrapper{
    width: 80%;
    margin: 2rem auto;
  }
}
*/
